---
import SiteLayout from "../../../layouts/SiteLayout.astro";
---

<SiteLayout
  locale="en"
  title="noindex"
  description="noindex"
>
  <section class="page-hero page-hero--compact">
    <div>
      <p class="eyebrow">Hahahahahahahahahahaha!</p>
      <h1>Ha! You got rickrolled!</h1>
    </div>
  </section>

  <iframe width="100%" height="450" src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="RICKROLL!" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

  <footer class="site-footer">
    <p>Hahahahahahahahahahaha!</p>
  </footer>
</SiteLayout>
